[submodule "Projects/Project - Test Topologies/CSE160-Project-Skeleton-Code"]
	path = Projects/Project - Test Topologies/CSE160-Project-Skeleton-Code
	url = https://github.com/UCMAndesLab/CSE160-Project-Skeleton-Code
[submodule "Projects/Project-1"]
	path = Projects/Project-1
	url = https://github.com/adriandarian/cse-160-project.git
[submodule "Projects/Project-2"]
	path = Projects/Project-2
	url = https://github.com/adriandarian/cse-160-project.git
[submodule "Projects/Project-3"]
	path = Projects/Project-3
	url = https://github.com/adriandarian/cse-160-project.git
[submodule "Projects/Project-4"]
	path = Projects/Project-4
	url = https://github.com/adriandarian/cse-160-project.git
